.change-page {
    padding: 20px;
    text-align: center;
  }
  
  .coins-list {
    margin-top: 20px;
  }
  
  .coins-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .coins-list li {
    margin: 5px 0;
  }
  